name: Django Swappable Models Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Python==${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        pip install -U "pip==20.2.4" wheel setuptools
        pip install tox tox-gh-actions
        pip install openwisp-utils[qa]@https://github.com/openwisp/openwisp-utils/tarball/master

    - name: QA checks
      run: ./run-qa-checks

    - name: Test
      run: tox
